body{
    background-color:lightblue
}

h1{
    border:1px solid black
}
h2{
    
    color:purple   
}

input{
    border :2px solid red
}

div p{
    background-color: blue;
    border:4px dotted yellow;
    
}


#textblock{
    border: green 5px solid;
    width:800px
    height:400px;
}

a{
    color:red
}